<ngb-carousel>
  <ng-template ngbSlide *ngFor="let car of carImages">
    <div class="picsum-img-wrapper">
      <img
        class="d-block w-100"
        style="width: 850px; height: 550px"
        src="https://localhost:44340/{{ car.imagePath }}"
      />
    </div>
  </ng-template>
</ngb-carousel>

<br />

<div class="card" *ngFor="let car of carDetails; let i = index">
  <div class="card-body" *ngIf="i < 1">
    <h5 class="card-title">{{ car.brandName }}</h5>
    <hr />
    <p class="card-text"><b>Açıklama:</b> {{ car.description }}</p>
    <p class="card-text"><b>Renk:</b>{{ car.colorName }}</p>
    <p class="card-text"><b>Yıl:</b>{{ car.modelYear }}</p>
    <p class="card-text"><b>Fiyat:</b> {{ car.dailyPrice }}</p>
    <a href="#" class="btn btn-primary">Kirala</a>
  </div>
</div>

<br />
