<footer class="footer-caner2">
    <div class="footer-left">
    <h3>Aykut<span> Şahin</span></h3>
    <p class="footer-links">
        <a routerLink="">Ana Sayfa</a>
        ·
        <a routerLink="cars">Arabalar</a>
        ·
        <a routerLink="brands">Markalar</a>
        
    </p>
    <p class="footer-textcaner">© 2021 Tüm Hakları Saklıdır</p>
    </div>
    <div class="footer-center">
    
    <div>
    <i class="fa fa-phone"></i>
    <p>+90 123 456789</p>
    </div>
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:sahinaykut97@gmail.com">sahinaykut97@gmail.com</a></p>
    </div>
    </div>
    <div class="footer-right">
    <p class="footer-canerhak1">
    <span>Hakkımda</span>
    Merhaba,ben Aykut. 22 yaşındayım ve Yönetim Bilişimleri Öğrencisiyim. Aynı zamanda youtube kanalımda içerikler üretiyorum...
    </p>
    
    </div>
    </footer>
