<div class="card text-center">
  <div class="card-header">Tüm Müşteriler</div>
  <div class="card-body">
    <table class="table table-success table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Müşteri Ad Soyad</th>
          <th scope="col">Şirket</th>
          <th scope="col">Findeks Skor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{ customer.customerId }}</td>
            <td>{{ customer.userName}}</td>
            <td>{{ customer.companyName}}</td>
            <td>{{ customer.findeksScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>