<div class="container-fluid">
  <div class="row">
      <div class="col-md-3">
          <app-brand></app-brand>
          <app-color></app-color>
      </div>
      <div class="col-md-9">
          <form [formGroup]="carUpdateForm">
              <div class="mb-3">
                  
                  <label for="example-date-input" class="col-4 col-form-label">Marka</label>
                  <select class="form-select"  formControlName="brandId" [(ngModel)]="brandId"  aria-label="Default select example">
                      <option *ngFor="let brand of brands"  [ngValue]="brand.brandId">{{brand.brandName}}</option>            
                  </select>   
              </div>  
              <div class="mb-3">
                  <label for="example-date-input" class="col-4 col-form-label">Renk</label>
                  <select class="form-select"   formControlName="colorId"  [(ngModel)]="colorId"  aria-label="Default select example">
                      <option *ngFor="let color of colors"  [ngValue]="color.colorId">{{color.colorName}}</option>            
                  </select>    
              </div>  
              <div class="mb-3">
                  <label for="dailyPrice" class="form-label">Günlük Ücret</label>
                  <input type="number" formControlName="dailyPrice"  class="form-control" id="dailyPrice" aria-describedby="emailHelp">
                </div>     
                <div class="mb-3">
                  <label for="modelYear" class="form-label">Model</label>
                  <input type="number" formControlName="modelYear" class="form-control" id="modelYear" aria-describedby="emailHelp">
                </div>    
                <div class="mb-3">
                  <label for="description" class="form-label">Açıklama</label>
                  <input type="text" formControlName="description" class="form-control" id="description" aria-describedby="emailHelp">
                </div>    
                <button type="submit" (click)="update()" class="btn btn-success btn-sm">Oluştur</button>            
            </form> 
      </div>
  </div>

</div>